.portoflio .container .head{
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 1.5rem;
  color: var(--text-color)
}

.portoflio .container .protoflio-content{
  display: flex;
  flex-direction: column;
}

.portoflio .container .protoflio-content > div{
  display: flex;
  flex-direction: column;
}

.portoflio .container .portoflio-content > div h3{
  font-size: 1rem;
  color: var(--text-color);
  margin: 1rem auto;
}

.portoflio .container .portoflio-content > div .images-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
